.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.comments {
  margin-top: 1.5rem;
}

.commentItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  position: relative;
}

.commentAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.commentContent {
  flex-grow: 1;
  position: relative;
}

.commentText {
  background-color: #f8f8f8;
  padding: 0.75rem;
  border-radius: 6px;
}

.commentActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.commentActions span {
  font-size: 12px;
}

.btnPrimary {
  border: none;
  padding: 10px 15px;
  color: black;
  cursor: pointer;
  border-radius: 4px;
}

.btnPrimary:hover {
  text-decoration: underline;
}

.btnSecondary {
  border: none;
  padding: 10px 15px;
  color: black;
  cursor: pointer;
  border-radius: 4px;
}
.btnSecondary:hover {
  text-decoration: underline;
}

.commentForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.commentForm input,
.commentForm textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.commentForm textarea {
  resize: none;
}

.commentForm label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.commentForm button {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.commentForm button:hover {
  background-color: #0056b3;
}

.single-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.single-post-image {
  width: 100%;
  max-width: 800px;
}

.single-post-main-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.single-post-content {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.single-post-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.single-post-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #555;
}

.single-post-meta span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.single-post-description {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.single-post-fish-species {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.single-post-fish-species svg {
  margin-right: 8px;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.threeDots {
  cursor: pointer;
  display: none;
}

.threeDots:hover {
  background-color: #f1f1f1;
  border: 10px;
  border-radius: 50%;
}

.commentItem:hover .threeDots {
  display: inline-block;
}

.dropdownMenu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}

.dropdownActive .dropdownMenu {
  display: block;
}

.dropdownMenu button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  width: 100%;
  text-align: left;
  display: block;
  cursor: pointer;
}

.dropdownMenu button:hover {
  background-color: #f1f1f1;
}

/* Edit Comment Styles */
.editTextarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* Comment Header */
.commentHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.commentName {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 4px; /* Add spacing between name and avatar */
}

.commentAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}