/* Hero Section */
.heroSection {
  background-image: url('https://images.pexels.com/photos/2080960/pexels-photo-2080960.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.heroContent {
  max-width: 600px;
  padding: 0 1rem; /* Add padding for smaller screens */
}

.heroTitle {
  font-size: 3rem;
  font-weight: bold;
  color: white
}

.heroSubtitle {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.ctaButton {
  background-color: #2563eb;
  padding: 0.75rem 1.5rem;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 1rem; /* Consistent button text size */
}

.ctaButton:hover {
  background-color: #1e40af;
}

/* About Section */
.aboutSection {
  padding: 4rem 2rem;
  background-color: #f7fafc;
  text-align: center;
}

.aboutContent {
  max-width: 800px;
  margin: 0 auto;
}

.featuresGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  padding: 0 1rem; /* Adds padding for smaller screens */
}

.featureItem {
  text-align: center;
  flex: 1 1 200px; /* Makes each item take equal width and allows resizing */
  max-width: 220px; /* Ensures the items don't get too wide */
  margin: 0 auto; /* Centers the items */
}


.featureItem h3 {
  margin-top: 1rem;
}


/* Featured Spots Section */
.featuredSpotsSection {
  padding: 4rem 2rem;
}

.spotsGrid {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
}

.spotCard {
  text-align: center;
  border: 1px solid #e2e8f0; /* Add a border for definition */
  border-radius: 8px;
  padding: 1rem;
  transition: transform 0.2s; /* Smooth hover effect */
}

.spotCard:hover {
  transform: translateY(-5px); /* Lift effect on hover */
}

.spotImage {
  width: 100%;
  border-radius: 8px;
}

/* Testimonials Section */
.testimonialsSection {
  background-color: #2563eb;
  color: white;
  padding: 4rem 2rem;
  text-align: center;
}

.testimonialsGrid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.testimonialItem {
  max-width: 300px;
}

/* Footer */
.footer {
  background-color: #1e3a8a;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
}

.footerLinks {
  margin-top: 1rem;
}

.footerLinks a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.footerLinks a:hover {
  text-decoration: underline;
}
